{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Passwort vergessen' %}{% endblock %}

{% block main %}
    <div>
        <h1>{% trans 'Passwort ändern' %}</h1>
        <p {% if link_invalid %}style="display: none"{% endif %}>
            {% trans 'Du hast das Passwort für dein Benutzerprofil vergessen? Kein Problem! Gib einfach hier ein neues Passwort ein. Nach dem Speichern wird dein bisheriges Passwort durch das neue ersetzt und du wirst direkt angemeldet.' %}
        </p>
    </div>
    <div class="box-blue box-rounded-top-right box-rounded-bottom-left extra-space-before">
        {% if link_invalid %}
            <div class="row">
                <div class="col-sm-12">
                    <p>
                       Der Link ist nicht mehr gültig.
                    </p>
                </div>
            </div>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <h3>{% trans 'Neues Passwort eingeben:' %}</h3>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <input class="form-control" minlength="8" required type="password" name="password1"
                               placeholder="{% trans 'Passwort (min. 8 Zeichen)' %}"/>
                        {% if error %}
                            <p class="mini text-warning">{{ error }}</p>
                        {% endif %}
                    </div>
                    <div class="form-group col-sm-6">
                        <input class="form-control" minlength="8" required type="password" name="password2"
                               placeholder="{% trans 'Passwort wiederholen' %}"/>
                        <input type="hidden" name="user_profile_id" value="{{ user_profile_id }}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <a class="form-control btn btn-default" href="{% url 'login' %}">{% trans 'Abbrechen' %}</a>
                    </div>
                    <div class="col-sm-6">
                        <button class="form-control btn btn-primary" type="submit">{% trans 'Absenden' %}</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}
