{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Neues Passwort' %}{% endblock %}

{% block main %}
    <div>
        <h1>{% trans 'Dein neues Passwort' %}</h1>
        <h2>{% trans 'Du erhältst in Kürze eine E-Mail.' %}</h2>
        <p>
            {% blocktrans %}
                Bitte öffne dein E-Mail-Postfach und folge den Anweisungen in der dir zugegangenen Mail
                mit dem Betreff „Deine Zugangsdaten für {{ title }}“.
                Falls du die E-Mail nicht finden kannst, prüfe bitte deinen Spam-Ordner (in manchem E-
                Mail-Programmen auch „Junk-Mail“ genannt).
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
