{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Passwort vergessen' %}{% endblock %}

{% block main %}
    <div>
        <h1>{% trans 'Du hast dein Passwort vergessen?' %}</h1>

    </div>
    <div class="box-blue box-rounded-top-right box-rounded-bottom-left extra-space-before">
        <form method="post">
            {% csrf_token %}
            <h3>{% trans 'Bitte gib deine E-Mail-Adresse ein:' %}</h3>
            <div class="row">
                <div class="form-group col-sm-12">
                    <input class="form-control" type="email" required name="email" placeholder="{% trans 'E-Mail-Adresse' %}"
                           value="{{ email|default_if_none:'' }}" autofocus="autofocus"/>
                    {% if error_user_not_found %}w
                        <p class="mini text-warning">
                            {% trans 'Zu dieser E-Mail-Adresse liegt leider kein Benutzerprofil vor. Bitte überprüfe deine Angabe.' %}
                        </p>
                    {% endif %}
                    {% if error_no_input %}
                        <p class="mini text-warning">{% trans 'Bitte gib deine E-Mail-Adresse ein.' %}</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <a class="form-control btn btn-default" href="{% url 'login' %}">{% trans 'Abbrechen' %}</a>
                </div>
                <div class="col-sm-6">
                    <button class="form-control btn btn-primary" type="submit">{% trans 'Absenden' %}</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
